@import url('https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&family=Permanent+Marker&family=Roboto:wght@300&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.90em;
    color: #333;
    background-color: rgb(0, 0, 0)
}

.header-site{
    background-image: url(../img/bg.jpg);
    padding-top: 300px;
    padding-bottom: 500px;
}

.header-site, .img-site{
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: #fff;
}

.container{
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.header-site h2{
    font-size: 5em;
    font-family: 'Permanent Marker', verdana;
    text-shadow: 5px 5px 5px black;
}

h2{
    font-size: 4em;
    font-family: 'Acme', verdana;
}

h3{
    font-size: 2em;
    font-family: 'Indie Flower', verdena;
    font-weight: bold;
    color: rgb(48, 48, 48);
}

.text-center{text-align: center;}

.lead{
    margin-bottom: 20px;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.4;
}

.btn{
    display: inline-block;
    padding: 10px 12px;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    border-radius: 15px;
    border: 1px solid transparent;
}

a{text-decoration: none;}

.btn-red{
    color: #fff;
    background-color: tomato;
    border-color: tomato;
    transition: all ease-in 100ms;
}

.btn-red:hover{
    background-color: rgb(197, 74, 53);
    border-color: rgb(197, 74, 53);
}

.btn-green{
    color: #333;
    background-color: greenyellow;
    border-color: greenyellow;
    transition: all ease-in 100ms;
}

.btn-green:hover{
    background-color: rgb(116, 173, 31);
    border-color: rgb(116, 173, 31);
}



.conteudo-site{
    padding: 100px 0 450px 0;
    background-color: #fff;
}

.conteudo-site .container{
    margin: auto;
    width: 1200px;
}

.box{
    width: 300px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 1px 6px 5px #0000004a;
    float: left;
    margin: 20px;
    padding: 20px;
    transition: all ease-in 100ms;
}

.box:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
}

.thumbnail{
    overflow: hidden;
}

.thumbnail img{
    max-width: 100%;
}

.img-site{
    background-image: url(../img/bg2.jpg);
    padding: 200px 0 200px 0;
    border-radius: 0 0 25px 25px;
}

.media{
    border: 1px solid #fff;
    width: 90%;
    height: 400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 15px;
    box-shadow: 5px 1px 6px 5px #0000004a;
}

.media .box{
    width: 510px;
    height: 300px;
    float: left;
    margin: 20px;
}

.media .lado1{background-color: black;}

.media .lado2{background-color: black;}

.box audio{
    width: 100%;
    margin-top: 120px;
}

.box video{
    width: 500px;
    height: 300px;
    border-radius: 15px;
}

.footer-site{
    background-color: rgb(0, 0, 0);
    padding: 15px;
}

.footer-site p{
    margin-top: 25px;
}